div.absolute {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

div.center {
    margin: auto;
    width: 50%;
}

.button-main-screen {
display: inline-block;
border-radius: 4px;
background-color: #004AAD;
border: none;
color: #FECC02;
text-align: center;
font-size: 28px;
padding: 20px;
width: 250px;
transition: all 0.5s;
cursor: pointer;
margin: 5px;
}

.button-main-screen span {
cursor: pointer;
display: inline-block;
position: relative;
transition: 0.5s;
}

.button-main-screen span:after {
content: '\00bb';
position: absolute;
opacity: 0;
top: 0;
right: -20px;
transition: 0.5s;
}

.button-main-screen:hover span {
padding-right: 25px;
}

.button-main-screen:hover span:after {
opacity: 1;
right: 0;
}

.medium-size-image {
    max-width: 500px;
}